{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header" >
			{% block header %}
        <nav id="nav-main" class="nav-main navbar navbar-expand-lg fixed-top" role="navigation">
          <div class="container">
            <a class="navbar-brand"  href="{{site.url}}" rel="home">
          		{% if site_logo %}
            		<img src="{{site_logo}}" alt="Site logo" class="img-fluid" loading="lazy" />
          		{% else %}
            		{{site.name}}
          		{% endif %}
						</a>
          	<button
            	class="navbar-toggler"
            	type="button"
							data-bs-toggle="collapse" 
							data-bs-target="#navbarCollapseLg"
							aria-controls="navbarCollapseLg"
            	aria-expanded="false"
            	aria-label="Toggle navigation"
          	>
            	<span class="navbar-toggler-icon"></span>
            	<span class="close-icon"></span>
          	</button>
						<div class="collapse navbar-collapse" tabindex="-1" id="navbarCollapseLg" aria-labelledby="navbarCollapseLgLabel">
        			{% include "menu.twig" with 
          			{
          			'menu': menu_primary,
          			'items': menu_primary.get_items,
          			'classes': 'navbar-nav primary-nav navbar-nav-scroll order-lg-last',
          			}
							%}
        			{% include "menu.twig" with 
          			{
          			'menu': menu_secondary,
          			'items': menu_secondary.get_items,
          			'classes': 'navbar-nav secondary-nav order-lg-first',
          			}
        			%}
						</div>
      			{# <div class="navbar-collapse offcanvas-collapse bg-white flex-column align-items-end me-auto">
						</div> #}
					</div>
				</nav><!-- #nav -->
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="position-fixed bottom-0 bg-light w-100">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
